/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


html {
    /* Permite deslizar al hacer click en los links del menu */
    scroll-behavior: smooth;
}

/* Section Header */
.container-header {
    background-color: #1a0566;
    width: 100%;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 99;
}

.container-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.container-header header .logo a {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #0e9aeb;
    text-decoration: none;
}

.container-header header ul {
    display: flex;
    list-style: none;
}

.container-header header nav ul li a {
    text-align: none;
    color: #0e9aeb;
    margin: 0px 10px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.container-header header nav ul li a:hover {
    color: rgb(30, 12, 185);
}

.nav-responsive {
    background-color: #0b9ef3;
    color: #290c79;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* Section Inicio */
.inicio {
    background: url(img/wallpaper1.jpg);
    background-size: cover;
    height: 100vh;
    color: rgb(22, 138, 233);
    display: flex;
    align-items: center;
}

.inicio .container-inicio {
    padding: 45px 20px 20px 15px;
    background-color: #200b81;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .container-inicio img {
    margin-top: 40px;
    border: 5px solid rgb(227, 241, 17);
    display: block;
    width: 250px;
    margin: auto;
    border-radius: 100%;
}

.inicio .container-inicio h1 {
    margin-top: 40px;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}

.inicio .container-inicio h2 {
    font-size: 15px;
    font-weight: normal;
}

.inicio .container-inicio .redes a {
    color: rgb(244, 248, 12);
    display: inline-block;
    text-decoration: none;
    border: 1px solid rgb(244, 248, 12);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 30px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .container-inicio .redes a:hover {
    background-color: rgb(19, 144, 216);
}


/* Section Sobre Mi */

/* Columna Datos Personales */
.sobremi {
    background-color: #070707;
    color: #ffffff;
    padding: 50px 20px;
}

.sobremi .container-sobremi {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2 {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px 0;
}

.sobremi .container-sobremi p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 50px;
}

.sobremi .container-sobremi p span {
    color: #1194eb;
    font-weight: bold;
}

.sobremi .row {
    display: flex;
}

.sobremi .row .col {
    width: 50%;
}

.sobremi .row .col h3 {
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}

.sobremi .row .col ul {
    list-style: none;
}

.sobremi .row .col ul li {
    margin: 12px 0;
}

.sobremi .row .col ul li strong {
    display: inline-block;
    color: #1194eb;
    width: 130px;
}

.sobremi .row .col ul li span {
    background-color: rgb(42, 145, 204);
    padding: 3px 15px 3px 15px;
    font-weight: bold;
    border-radius: 5px;
}

/* Columna Intereses */
.sobremi .row .col .container-intereses {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .row .col .container-intereses .interes {
    width: 100px;
    height: 100px;
    background-color: #2013e2;
    color: #1398cc;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .row .col .container-intereses .interes:hover {
    background-color: #15a3db;
    color: #180218;
}

.sobremi .row .col .container-intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi .button {
    margin-top: 50px;
}

.sobremi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgb(54, 8, 223);
    width: fit-content;
    display: block;
    margin: auto;
    padding: 10px 22px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 10;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(58, 21, 221);
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay {
    width: 100%;
}

/* Section Habilidades */

/* Columna Habilidades Tecnicas y Habilidades Profesionales */
.habilidades {
    background-color: rgb(228, 22, 22);
    color: #faf7fa;
    padding: 50px 20px;
}

.habilidades .container-habilidades {
    max-width: 1100px;
    margin: auto;
}

.habilidades h2 {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px 0;
}

.habilidades .row {
    display: flex;
}

.habilidades .row .col {
    width: 50%;
    padding: 0 20px;
}

.habilidades .row .col h3 {
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}

.habilidades .habilidad>span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.habilidades .habilidad .barra-habilidad {
    height: 8px;
    width: 80%;
    background-color: #faf8fa;
    position: relative;
    margin-bottom: 30px;
}

.habilidades .habilidad .progreso {
    background-color: rgb(36, 13, 241);
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.habilidades .habilidad .barra-habilidad span {
    color: #ffffff;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: rgb(18, 198, 230);
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/* Animaciones Barras de Progreso Habilidades Tecnicas */

.habilidades .habilidad .javascript {
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 25%;
    }
}

.habilidades .habilidad .htmlcss {
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
    0% {
        width: 0%;
    }

    100% {
        width: 25%;
    }
}

.habilidades .habilidad .Excel {
    width: 0%;
    animation: 2s Excel forwards;
}

@keyframes Excel {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

.habilidades .habilidad .PowerPoint {
    width: 0%;
    animation: 2s PowerPoint forwards;
}

@keyframes PowerPoint {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.habilidades .habilidad .Internet {
    width: 0%;
    animation: 2s Internet forwards;
}

@keyframes Internet {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

/* Animaciones Barras de Progreso Habilidades Profesionales */

.habilidades .habilidad .comunicacion {
    width: 0%;
    animation: 2s comunicacion forwards;
}

@keyframes comunicacion {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.habilidades .habilidad .trabajoenequipo {
    width: 0%;
    animation: 2s trabajoenequipo forwards;
}

@keyframes trabajoenequipo {
    0% {
        width: 0%;
    }

    100% {
        width: 91%;
    }
}

.habilidades .habilidad .creatividad {
    width: 0%;
    animation: 2s creatividad forwards;
}

@keyframes creatividad {
    0% {
        width: 0%;
    }

    100% {
        width: 91%;
    }
}

.habilidades .habilidad .dedicacion {
    width: 0%;
    animation: 2s dedicacion forwards;
}

@keyframes dedicacion {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

.habilidades .habilidad .proyectmanagement {
    width: 0%;
    animation: 2s proyectmanagement forwards;
}

@keyframes proyectmanagement {
    0% {
        width: 0%;
    }

    100% {
        width: 91%;
    }
}

/* Section Curriculum */

.curriculum {
    background-color: #faf8fa;
    color: rgb(241, 15, 15);
    padding: 50px 20px;
}

.curriculum .container-curriculum {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px 0;
}

.curriculum .row {
    display: flex;
    justify-content: space-between;
}

.curriculum .row .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum .row .col h3 {
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}

.curriculum .row .izquierda {
    border-right: 2px solid rgb(32, 10, 230);
}

.curriculum .row .derecha {
    border-left: 2px solid rgb(32, 10, 230);
}

.curriculum .row .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #0c1897;
    position: relative;
}

.curriculum .row .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .row .item .casa {
    color: #fcf8fc;
    font-size: 18px;
    font-weight: bold;
    display: block;
}

.curriculum .row .item .fecha {
    display: block;
    color: #dfd8ff;
    margin-bottom: 10px;
}

.curriculum .row .item p {
    line-height: 24px;
}

.curriculum .row .izq {
    border-right: 2px solid rgb(50, 16, 238);
    margin-right: 20px;
}

.curriculum .row .der {
    border-left: 2px solid rgb(50, 16, 238);
    margin-left: 20px;
}

.curriculum .row .item .conectori {
    height: 2px;
    background-color: rgb(32, 100, 230);
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .row .item .conectori .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(32, 100, 230);
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .row .item .conectord {
    height: 2px;
    background-color: rgb(32, 100, 230);
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .row .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(32, 100, 230);
    float: left;
    position: relative;
    bottom: 4px;
}

/* Section Portfolio */

.portfolio {
    background-color: rgb(7, 7, 7);
    color: #fcf9fc;
    padding: 50px 20px;
}

.portfolio .container-portfolio {
    max-width: 1100px;
    margin: auto;
}

.portfolio h2 {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px 0;
}

.portfolio .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .galeria .proyecto {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portfolio .galeria .proyecto img {
    width: 100%;
    display: block;
}

.portfolio .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(25, 103, 175, 0.8), rgba(38, 7, 152, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portfolio .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 3s;
}

.portfolio .galeria .proyecto .overlay:hover {
    opacity: 1;
}

.portfolio .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}

/* Section Contacto */

.contacto {
    background-color: #05075e;
    color: rgb(17, 180, 221);
    padding: 50px 0;
}

.contacto .container-contacto {
    max-width: 1100px;
    margin: auto;
}

.contacto h2 {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px 0;
}

.contacto .row {
    display: flex;
}

.contacto .col {
    width: 50%;
    padding: 25px;
    position: relative;
}

.contacto .col input,
.contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #cae7ee;
    color: #180218;
    font-size: 18px;
}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgb(17, 163, 207);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 10;
}

.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(17, 163, 207);
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay {
    width: 100%;
}

.contacto .col .mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 600px;
}

.contacto .col .mapouter .gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 600px;
}

.contacto .col .mapouter .gmap_canvas .gmap_iframe {
    height: 600px !important;
}

.contacto .col .info {
    position: absolute;
    top: 70%;
    background-color: #280880;
    opacity: 0.7;
    padding: 20px;
    width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .col .info ul {
    list-style: none;
}

.contacto .col .info ul li {
    margin-bottom: 20px;
}

.contacto .col .info ul li i {
    color: #13b5d1;
    display: inline-block;
    margin-right: 20px;
}

/* Section Footer */

footer {
    background-color: #20088b;
    color: rgb(12, 202, 216);
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes {
    margin-bottom: 20px;
}

footer .redes a {
    color: rgb(231, 247, 13);
    display: inline-block;
    text-decoration: none;
    border: 1px solid rgb(231, 247, 13);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .redes a:hover {
    background-color: rgb(21, 162, 218);
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #11bfdd;
    color: #180218;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/* Section Responsive */

@media screen and (max-width:992px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        font-size: 20px;
        display: block;
        position: absolute;
        right: 0;
        top: 90px;
        background-color: #0a087a;
        width: 100%;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #babaec;
        padding: 10px 0;
    }
}

@media screen and (max-width:768px) {
    .sobremi .row {
        display: block;
    }

    .sobremi .row .col {
        width: fit-content;

    }

    .habilidades .row {
        display: block;
    }

    .habilidades .row .col {
        width: 100%;
    }

    .habilidades .row .col .barra-habilidad {
        width: 100%;
    }

    .curriculum .row {
        display: block;
    }

    .curriculum .row .col {
        width: 90%;
    }

    .curriculum .row .derecha {
        margin-left: 20px;
    }

    .portfolio .galeria {
        display: block;
        width: 100%;
    }

    .portfolio .galeria .proyecto {
        max-width: 100%;
    }

    .portfolio .galeria .proyecto img {
        width: 100%;
    }

    .contacto .row {
        display: block;
    }

    .contacto .row .col {
        width: 100%;
    }

    .sobremi .intereses {
        margin-top: 50px;
    }
}